body {
	background-color: #8b0000;
}

.wrapper {
	display: flex;
    justify-content: center;
    margin-left: 30px;
}

.menu-list {
	list-style: none;
    font-family: 'Open Sans', sans-serif;
    margin: 14px;
    display: flex;
    flex-direction: row;
    margin-right: 32px;
    padding: 12px;
    background-color: #FFF;
    font-family: 'Cinzel', serif;
}

.list-item {
	margin-left: 12px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
	width: 50%;
    display: flex;
    flex-flow: row wrap;
    background-color: #FFF;
    padding: 15px;
}

.content-list {
    list-style: none;
    font-family: 'Oswald', sans-serif;
}

.content-video {
    width: 500px;
}

.content-title {
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.content-text {
    font-family: 'Oswald', sans-serif;

}

.content-subtitle{
    font-family: 'EB Garamond', serif;
}

.subtitle-text{
    font-family: 'Montserrat', sans-serif;
}